body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #f2f2f2;
}

h1, h2, h3 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 85.8;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 7em;
    margin: -0.2em;
}

h3 {
    font-size: 2.3em;
    margin: 0.2em;
}

p {
    margin: 9px;
}

main {
    display: flex;
    justify-content: center;
}

.weather-data {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    text-align: center;
    margin-top: -8em;
}

.weather-icon img {
    width: 550px;
    height: auto;
}

.weather-box-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
}

.weather-box {
    flex: 1;
    min-width: 240px;
}


.label {
    font-weight: bold;
    margin-right: 0.5rem;
}

#disclaimer {
    width: 100%;
    margin-left: 2em;
}

#sunny {
    background-color: #a4c4ff;
}

#cloudy {
    background-color: #ebf2f6;
}

#rainy {
    background-color: #aaafba;
}

#stormy {
    background-color: #6f757e;
}

#snowy {
    background-color: #f4e9e9;
}

#neutral {
    background-color: #e0e0e0;
}
