<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Väder i Liljeholmen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css">

</head>
<body>

<h1>Väder i Liljeholmen!</h1>

<main>
    <section class="weather-data">
        <div class="weather-icon">
            <img th:src="@{'/images/weather/' + ${weather.iconFilename}}"
                 alt="Väderikon">
        </div>

        <div class="weather-box-container">
            <section class="weather-box">
                <p><span class="label">Temperatur:</span>
                    <span th:text="${weather.temperature} + ' °C'"></span>
                </p>
                <p><span class="label">Luftfuktighet:</span>
                    <span th:text="${weather.humidity} + '%'"></span>
                </p>
                <p><span class="label">Molnighet:</span>
                    <span th:text="${weather.precipitationChance} + '%'"></span>
                </p>
            </section>

            <section class="weather-box">
                <p><span class="label">Vindhastighet:</span>
                    <span th:text="${weather.windSpeed} + ' m/s'"></span>
                </p>
                <p><span class="label">Prognosens tidpunkt:</span>
                    <span th:text="${#temporals.format(weather.timestamp, 'yyyy-MM-dd HH:mm')}"></span>
                </p>
                <p><span class="label">Källa:</span>
                    <span th:text="${weather.origin}"></span>
                </p>
            </section>
        </div>
    </section>

</main>

</body>
</html>