<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Väder i Liljeholmen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css">

</head>
<body>

<h1>Väder i Liljeholmen!</h1>

<main>
    <section class="weather-data">
        <div class="weather-icon">
            <img th:src="@{'/images/weather/' + ${weather.iconFilename}}"
                 alt="Väderikon">
        </div>

        <div class="weather-box-container">
            <section class="weather-box">
                <p><span class="label">Temperatur:</span> <span th:text="${weather.temperature}">12.5 °C</span></p>
                <p><span class="label">Luftfuktighet:</span> <span th:text="${weather.humidity}">46%</span></p>
                <p><span class="label">Molnighet:</span> <span th:text="${weather.precipitationChance}">60%</span></p>
            </section>

            <section class="weather-box">
                <p><span class="label">Vindhastighet:</span> <span th:text="${weather.windSpeed}">3.5 m/s</span></p>
                <p><span class="label">Prognosens tidpunkt:</span> <span th:text="${weather.timestamp}">2025-05-13 11:24</span></p>
                <p><span class="label">Källa:</span> <span th:text="${weather.origin}">SMHI</span></p>
            </section>
        </div>
    </section>

</main>

</body>
</html>