<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Väder i Liljeholmen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>


<main>
    <section class="weather-data" th:id="${weather.styleId}">

        <h1>Weather</h1>
        <h3>in Liljeholmen tomorrow:</h3>
        <div class="weather-icon">
            <img th:src="@{'/images/weather/' + ${weather.iconFilename}}"
                 alt="Väderikon">
        </div>

        <div class="weather-box-container">
            <section class="weather-box">
                <p><span class="label">Temperatur:</span>
                    <span th:text="${weather.temperature} + ' °C'"></span>
                </p>
                <p><span class="label">Luftfuktighet:</span>
                    <span th:text="${weather.humidity} + '%'"></span>
                </p>
                <p><span class="label">Molnighet:</span>
                    <span th:text="${weather.precipitationChance} + '%'"></span>
                </p>
            </section>

            <section class="weather-box">
                <p><span class="label">Vindhastighet:</span>
                    <span th:text="${weather.windSpeed} + ' m/s'"></span>
                </p>
                <p><span class="label">Prognosens tidpunkt:</span>
                    <span th:text="${#temporals.format(weather.timestamp, 'yyyy-MM-dd HH:mm')}"></span>
                </p>
                <p><span class="label">Källa:</span>
                    <span th:text="${weather.origin}"></span>
                </p>
            </section>

            <section id="disclaimer">
                <p><span>Presenting the best forecast based on data from SMHI and YR.</span>
                </p>
            </section>
        </div>
    </section>

</main>

</body>
</html>